block hero

    mixin hero
        +b('section').hero(data-section="main")
            +e('div').background
                +e('div').wrapper
                    +e('div').content
                        +e('h1').title!= '"Любить — это находить в счастье другого свое собственное счастье!"'
