$footer: '.footer';

#{$footer} {
    padding: 32px 0;
    @include blockPaddingHorizontal;

    &__socials {
        margin-bottom: 32px;
    }

    &__socials__list {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    &__socials__item {
        list-style: none;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 13px;
        }
    }

    &__socials__link {
        display: block;
        padding: 0 15px;
        font-size: 24px;
        text-align: center;
    }

    &__content {
        text-align: center;
        font-size: 14px;
    }
}
