mixin insurers-list(item)
    +e('li').subitem(class="insurers-subitem")
        +e('div').subitem__content
            +e('div').subitem__title!= item.title
            +e('ul').subitem__list
                each partner in item.imagesList
                    +e('li').subitem__item
                        +e('a').subitem__link(href= partner.href, target="_blank")
                            +e('div').subitem__picture(class=`price__subitem__picture_${partner.type}`)
                                +e('img').subitem__image(src=`${partner.image}`, width=`${partner.width}`, height=`${partner.height}`)
