mixin reviews-list(item, index)
    +e('li').item
        +b('div').review
            +e('div').photo(style=`background-image: url('../${item.image}')`)
            +e('div').hover
                +e('div').content
                    +e('div').title!= item.title
                    +e('div').text!= item.text
                    +e('a').href(href=`#full-review-${index}`)
                        |Подробнее
