extends ../jade/layout

block head
    - var pageDescription="EVGENIYA MELNIKOVA";
    - var pageKeywords="EVGENIYA MELNIKOVA";
    - var pageTitle="EVGENIYA MELNIKOVA";

block content
    include ../blocks/about/about
    include ../blocks/reviews/reviews
    include ../blocks/steps/steps
    include ../blocks/advantages/advantages
    include ../blocks/contacts/contacts

    +about({
        title: 'Обо мне',
        list: [
            {
                type: 'keyFacts',
                image: 'images/ico-calendar.png',
                number: '5',
                text: 'лет'
            },
            {
                type: 'keyFacts',
                image: 'images/ico-professionals.png',
                number: '50',
                text: 'професионалов'
            },
            {
                type: 'keyFacts',
                image: 'images/ico-ideas.png',
                number: '1000+',
                text: 'идей'
            },
            {
                type: 'keyFacts',
                image: 'images/ico-newlyweds.png',
                number: '50+',
                text: 'свадеб'
            },
            {
                type: 'keyFacts',
                image: 'images/ico-world.png',
                number: '4',
                text: 'за границей'
            }
        ]
    })

    +advantages({
        title: 'Молодожёны выбирают меня',
        list: [
            {
                title: 'Забота о клиенте',
                text: 'Для меня самое главное — это увидеть Ваши счастливые лица после праздника!',
                image: 'images/ico-advantages-1.svg'
            },
            {
                title: 'Яркие идеи',
                text: 'Вы услышите «Да» нестандартным идеям и красивым местам!',
                image: 'images/ico-advantages-2.svg'
            },
            {
                title: 'Оригинальное оформление',
                text: 'Создам незабываемый, нежный и бесконечно красивый праздник!',
                image: 'images/ico-advantages-3.svg'
            }
        ]
    })

    +steps ({
        title: 'Что происходит, когда Вы выбираете меня',
        list: [
            {
                type: 'steps',
                image: 'images/ico-step-1.png',
                title: 'Мы встречаемся и обсуждаем ваши желания и представления по поводу праздника'
            },
            {
                type: 'steps',
                image: 'images/ico-step-2.png',
                title: 'Я предлагаю идеи на основании ваших желаний и собираю команду для торжества'
            },
            {
                type: 'steps',
                image: 'images/ico-step-3.png',
                title: 'Мы обсуждаем детали мероприятия и предложенные идеи'
            },
            {
                type: 'steps',
                image: 'images/ico-step-4.png',
                title: 'Я предлагаю варианты, которые лучше всего подходят именно Вам. Но окончательный выбор остается за Вами'
            },
            {
                type: 'steps',
                image: 'images/ico-step-5.png',
                title: 'Мы составляем окончательный план свадебного торжества'
            },
            {
                type: 'steps',
                image: 'images/ico-step-6.png',
                title: 'Мы с командой проводим всю подготовительную работу к празднику'
            },
            {
                type: 'steps',
                image: 'images/ico-step-7.png',
                title: 'В день свадьбы: я работаю - Вы получаете удовольствие'
            },
            {
                type: 'steps',
                image: 'images/ico-step-8.png',
                title: 'Я контролирую все ситуации, которые могут возникнуть в ходе праздника'
            },
            {
                type: 'steps',
                image: 'images/ico-step-9.png',
                title: 'У Вас остаются счастливые воспоминания о самом лучшем дне в Вашей жизни'
            }
        ]
    })

    +reviews({
        title: 'Отзывы клиентов',
        list: [
            {
                image: 'images/vis-reviews-1.jpg',
                title: 'Константин и Алёна',
                text: 'Все было сделано на высочайшем уровне, мы лишь наслаждались моментом! В итоге все получилось очень искренне, ярко, эмоционально!',
                fulltext: 'Все было сделано на высочайшем уровне, мы лишь наслаждались моментом! В итоге все получилось очень искренне, ярко, эмоционально, что вызвало слезки радости у нас самих, а позже и у наших близких при просмотре видео и фото! Особое спасибо Алене, нашему фотографу и видеографу, действительно любящему свою работу, результат поражает! Со всей Вашей командой хочется работать снова и снова!Спасибо большое за незабываемую свадебную церемонию, проведенную на восхитительном пляже! Полученный результат превзошел все наши ожидания.'
            },
            {
                image: 'images/vis-reviews-2.jpg',
                title: 'Владислав и Екатерина',
                text: 'То ощущение спокойствия, которое приносит работа Вашего агентства очень дорогого стоит!',
                fulltext: 'То ощущение спокойствия, которое приносит работа Вашего агентства очень дорогого стоит! Спасибо, что согласились быть нашими свадебными организаторами в этот день! Это просто высшее — получать 100% удовольствия от своей свадьбы не беспокоясь в этот день ни о чем!!!! Ваши благодарные и довольные клиенты — Владислав и Екатерина!'
            },
            {
                image: 'images/vis-reviews-3.jpg',
                title: 'Александр и Яна',
                text: 'Хотим от нас сказать спасибо за Вашу качественную работу! С улыбкой и полной отдачей на нашей свадьбе! Вы большие молодцы:)',
                fulltext: 'Хотим сказать огромное спасибо всей команде за качественную работу! С улыбкой и полной отдачей на нашей свадьбе! Вы молодцы. Боевое крещение в подобных необычных свадьбах думаем пойдет Вам на пользу! Вы отлично справились и мы очень рады, что обратились именно к Вам!'
            },

            {
                image: 'images/vis-reviews-4.jpg',
                title: 'Сергей и Светлана',
                text: 'Настоящая радость и удовольствие от нашего праздника! Он получился именно таким, как мы хотели, и даже лучше:)',
                fulltext: 'Хотим сказать огромное спасибо за помощь в подготовке и проведении нашего праздника! Благодаря команде «With love», которая полностью взяла на себя все организационные моменты, нам удалось расслабиться и получить настоящую радость и удовольствие от нашего праздника! Он получился именно таким, как мы хотели, и даже лучше! Желаем Вам реализации всех будущих творческих замыслов и идей, вдохновения и удовольствия от работы! Спасибо!'
            },
            {
                image: 'images/vis-reviews-5.jpg',
                title: 'Владимир и Ирина',
                text: 'Ничего бы этого не было без этой бесподобной команды:) Большое спасибо Вам за этот замечательный день!!!',
                fulltext: 'Ничего бы этого не было без этой бесподобной команды:) Большое спасибо Вам за этот замечательный день!!! Если бы не Вы, и не Ваша организованность, не было бы такого порядка и слаженности! А для нас даже появилось время потворить немного для души. Спасибо за все. За каждую мелочь и за каждое слово. Мы на празднике даже не устали, а только отдыхали и получали удовольствие от нашего семейный праздника.Желаем развития и творческих людей вокруг. Обнимаем, наша семья!'
            },
            {
                image: 'images/vis-reviews-6.jpg',
                title: 'Илья и Валерия',
                text: 'Если нужно все красиво, четко и быстро — только к этому организатору свадеб - Мельниковой Евгении',
                fulltext: 'Значит так: если нужно все красиво, четко и быстро, как в нашем случае — только к этому организатору свадеб - Мельниковой Евгении! Все сделано с любовью и заботой о кипишащих молодых:) Обожаем, просто обожаем! Наши золотые организаторы! Море счастья от работы такой команды! Спасибо Вам за праздник.'
            },
            {
                image: 'images/vis-reviews-7.jpg',
                title: 'Владислав и Анна',
                text: 'Спасибо Вам за все, что сделали для нас! Спасибо за этот чудесный день всей Вашей команде!',
                fulltext: 'Дорогая Евгения! Спасибо Вам за все, что сделали для нас! Спасибо за то, что этот чудесный день, который останется в нашей памяти на всю жизнь, мы запомнили только в самых ярких, добрых и веселых красках!! Это так важно было для нас! :) Не могу не отметить ИДЕАЛЬНО подобраный коллектив, который внес огромный вклад в атмосферу нашего праздника! Спасибо!:)'
            },
            {
                image: 'images/vis-reviews-8.jpg',
                title: 'Александр и Юлия',
                text: 'Только с течением времени понимаешь, что НАША свадьба была идеальной!',
                fulltext: 'Только с течением времени понимаешь, что НАША свадьба была идеальной! И это все благодаря свадебной фее — Евгении! Cпасибо Вам огромное за помощь в организации нашего сказочного дня, за шикарные идеи и за поддержку! Желаем успехов и творческого развития!'
            }
        ]
    })

    +contacts({
        title: 'Как меня найти',
        contactsList: [
                {
                    type: 'contacts',
                    image: 'images/ico-mail.png',
                    title: 'E-mail',
                    text: '<a href="mailto:radavsemvam@gmail.com" class="inverse">radavsemvam@gmail.com</a>'
                },
                {
                    type: 'contacts',
                    image: 'images/ico-phone.svg',
                    title: 'телефон',
                    text: '<a href="tel:+375(29) 331 39 59" class="inverse">+375(29) 331 39 59</a>'
                },
                {
                    type: 'contacts',
                    image: 'images/ico-address.svg',
                    title: 'адрес',
                    text: 'Минск, Беларусь'
                }
            ]
    })
